<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="scoremarker__row">
    <span class="scoremarker__score <%= team.color %>"><%= score %></span>
    <div class="<%= team.color %> scoremarker">
      <h4 class="scoremarker__team-label"><%= team.name %></h4>
    </div>
    <ul class="team-list">
      <% team.trainers.each do |trainer| %>
        <li class="team-list__item"><strong><%= trainer.name %></strong> <span class="light">(<%= trainer.handle %>)</span></li>
      <% end %>
    </ul>
  </div>
</div>
